// About Page

.aboutus {

    padding-top: 3%;

    h2{

        display: flex;

        justify-content: center;
    
    }

}

.middle-content-container3 {

    .memberInfo {

        display: flex;

        justify-content: center;

        padding: 3%;

        @media @phone {

            justify-content: flex-start;

        }

        .memberpic1{

            width: 150px;

            height: 150px;

            @media @phone {

                width: 100px;

                height: 125px;

            }

        }

            
        .bio {

            flex-direction: column;

            padding-left: 2%;
        
            h2 {

                font-size: 1.8rem;

            }

        }

    }

}