// // home page

.main {

    .learn-more {
    
        text-decoration: none;

        font-size: 1.3rem;

        color: black;

        border: 1px solid black;

        padding: 5px;

        justify-content: center;

    }

    .top-content-container {

        display: flex;

        flex-direction: row;

        padding-top: 5%;

        padding-bottom: 5%;

        padding-left: 2%;

        padding-right: 2%;

        @media @phone {

            padding-top: 5%;

            padding-bottom: 5%;

            padding-left: 1%;

            padding-right: 1%;

        }

        .blurb-container {   
                    
            display: flex;

            flex-direction: column;

            align-items: flex-start;

            width: 100%;

            @media @phone {

                padding-left: 1%;

                padding-right: 1%;   

            }

            p {

                padding-right: 3%;

                @media @phone {

                    padding-right: 1%;

                    font-size: 1.3rem;

                }

            }
            
            a {

            text-decoration: none;

            font-size: 1.3rem;

            color: black;

            border: 1px solid black;

            padding: 5px;

            }

        }

        
        .book-pic {

            width: 35%;

            height: auto;

            border-radius: 10px;

            @media @phone {

                padding-right: 1%;

            }   

        }

    }

    hr {

        text-decoration-style: 2px solid black;

        width: 100%,

    }

    .middle-content-container {

        display: flex;

        flex-direction: row;
        
        justify-content: space-between;

        padding-top: 5%;

        padding-bottom: 5%;

        padding-left: 2%;

        @media @phone {

            display: flex;

            flex-direction: column;
                        
        }

        .books-container1 {

            padding-right: 2%;

            @media @phone {

                padding-bottom: 5%;

            }

        }

        .books-container2{

            padding-right: 2%;


            @media @phone {

                padding-bottom: 5%;

            }
            
            @media @tablet {

                display: none;

            }

        }

        .books-container3 {

            padding-right: 2%;

        }

    }

    .middle-content-container2{

        display: flex;

        flex-direction: row;

        justify-content: space-around;
        
        padding-top: 5%;

        padding-bottom: 5%;

        padding-left: 2%;

        @media @phone {

            padding-top: 0;
        
        }

        .books-container4 {

            padding-right: 2%;
            
        }

        .books-container5 {

            padding-right: 2%;

            @media @phone {

                display: none;

            }

            .book5 {

                @media @tablet {

                    height: 235px;

                    width: 155px;
    
                }

            }
            
        }

        .books-container6 {

            padding-right: 2%;

            @media @phone {

                display: none;
                
            }

            @media @tablet {

                display: none;

            }

            .book6 {

                width: 140px;
                
                height: 200px;

            }

        }

    }

    .bottom-content-container{

        display: flex;

        flex-direction: row;

        justify-content: center;

        @media @phone {

            flex-wrap: wrap;

            justify-content: flex-start;

        }

        .links-list{

            display: flex;

            flex-direction: column;

            align-items: center;

            padding-top: 5%;

            @media @phone {

                width: 100%;

            }

            a {

                text-decoration: none;

                font-size: 1.3rem;

                color: black;

            }

        }

        .bookr {
           
            display: flex;

            flex-direction: column;

            width: 60%;

            padding: 5%;
            
            @media @phone {

                width: 100%;

            }

        }

    }

}